body {
  font-family: monospace;
  font-size: 10pt;
}

div {
  display: inline-block;
  border: solid #888 1px;
  padding: 0;
  margin: 2px;
}

#device-panel {
  width: 1038px;
}

#output-panel {
  float: left;
  width: 475px;
}

#input-panel {
  float: right;
  width: 555px;
}

