body {
  background: url("../singleton.png") no-repeat;
}

p {
  text-align: center;
  width: 100%;
  line-height: 120%;
  padding-top: 205px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #666;
  letter-spacing: -0.03em;
}

span {
  color: #333;
  font-weight: bold;
}
