body {
  background: url("../hello_world.png") no-repeat;
}

h1 {
  text-align: center;
  width: 100%;
  line-height: 120%;
  padding-top: 200px;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}
