body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
}

#controls button,
#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #cccccc 99%);
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home,
#controls #terminate {
  font-size: 24px;
}

#controls #reload {
  font-size: 20px;
}

#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #center-column {
  -webkit-flex: 1;
}

#sad-webview,
webview {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* The reload button turns into a spinning trobber */
.loading #reload {
  -webkit-animation: spinner-animation .5s infinite linear;
  -webkit-transform-origin: 50% 55.5%;
}

@-webkit-keyframes spinner-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}

/* Due to http://crbug.com/156219 we can't use display: none */
#sad-webview,
.exited webview {
  visibility: hidden;
  visibility: hidden;
}

.exited #sad-webview {
  visibility: visible;
  background: #343f51;
  text-align: center;
  color: #fff;
}

#sad-webview h2 {
  font-size: 14px;
}

#sad-webview p {
  font-size: 11px;
}

#sad-webview-icon {
  font-size: 96px;
  margin-bottom: 10px;
}

/* Variant of the crashed page when the process is intentionally killed (in that
case we use a different background color and label). */
.exited #sad-webview #killed-label {
  display: none;
}

.killed #sad-webview {
  background: #393058;
}

.killed #sad-webview #killed-label {
  display: block;
}

.killed #sad-webview #crashed-label {
  display: none;
}
