# Default reviewers for all changes in this fork.
* @WYNOTworldwide

# Additional sample-area ownership can be added below as the repo scales.
# api-samples/ @team-or-user
# functional-samples/ @team-or-user