body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

#controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
}

#controls button,
#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #cccccc 99%);
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home,
#controls #terminate {
  font-size: 24px;
}

#controls #reload {
  font-size: 20px;
}

#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #center-column {
  -webkit-flex: 1;
}

#sad-browser,
browser {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Due to http://crbug.com/156219 we can't use display: none */
#sad-browser,
.crashed browser {
  visibility: hidden;
  visibility: hidden;
}

.crashed #sad-browser {
  visibility: visible;
  background: #343f51;
  text-align: center;
  color: #fff;
}

#sad-browser h2 {
  font-size: 14px;
}

#sad-browser p {
  font-size: 11px;
}

#sad-browser-icon {
  font-size: 96px;
  margin-bottom: 10px;
}
