body {
    margin: 0 auto;
    line-height: 1.7em;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
    height: 425px;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }


.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.peteBtn {
    width: 240px;
}

.peteBtnW {
    width: 100%;
    background: rgb(28, 184, 65) !important;
    display: none;
}
