<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JWT Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Single Item JWT Creator</h2>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputItem">Item Name</label>
              <div class="controls">
                <input type="text" id="inputItem" required placeholder="Item Name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputDescription">Description</label>
              <div class="controls">
                <input type="text" id="inputDescription" required placeholder="Item Description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSellerData">Seller Data</label>
              <div class="controls">
                <input type="text" id="inputSellerData" required placeholder="Seller Data">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPrice">Price</label>
              <div class="controls">
                <input type="number" minimum="0" id="inputPrice" required placeholder="1.99">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputRecurringPriceS">&nbsp;</label>
              <div class="controls">
                <!--
                <input type="number" minimum="0" id="inputRecurringPriceS" required placeholder="1.99">
                -->
              </div>
            </div>
            <button class="btn" id="btnSubmitSingle" type="button">Create</button>
          </form>
          <pre><code id="codeJWTSingle"></code></pre>
        </div>
        <div class="span6">
          <h2>Subscription Item JWT Creator</h2>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputItemS">Item Name</label>
              <div class="controls">
                <input type="text" id="inputItemS" required placeholder="Item Name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputDescriptionS">Description</label>
              <div class="controls">
                <input type="text" id="inputDescriptionS" required placeholder="Item Description">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSellerDataS">Seller Data</label>
              <div class="controls">
                <input type="text" id="inputSellerDataS" required placeholder="Seller Data">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputInitialPriceS">Initial Price</label>
              <div class="controls">
                <input type="number" minimum="0" id="inputInitialPriceS" required placeholder="1.99">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputRecurringPriceS">Recurring Price</label>
              <div class="controls">
                <input type="number" minimum="0" id="inputRecurringPriceS" required placeholder="1.99">
              </div>
            </div>
            <button class="btn" id="btnSubmitSub" type="button">Create</button>
          </form>
          <pre><code id="codeJWTSub"></code></pre>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $("code").bind("click", function() {
        selectJWTText($(this).attr("id"));
      });

      $("#btnSubmitSingle").bind("click", function() {
        var data = {
          "itemName": $("#inputItem").val(),
          "description": $("#inputDescription").val(),
          "price": $("#inputPrice").val(),
          "sellerData": $("#inputSellerData").val()
        }
        $.ajax({
          url: "/generate",
          method: "POST",
          data: data
        }).done(function(data) {
          $("#codeJWTSingle").text(data.encodedJWT);
          selectJWTText("codeJWTSingle");
        });
      });

      $("#btnSubmitSub").bind("click", function() {
        var data = {
          "itemName": $("#inputItemS").val(),
          "description": $("#inputDescriptionS").val(),
          "initialPrice": $("#inputInitialPriceS").val(),
          "recurringPrice": $("#inputRecurringPriceS").val(),
          "sellerData": $("#inputSellerDataS").val()
        }
        $.ajax({
          url: "/generateSubscription",
          method: "POST",
          data: data
        }).done(function(data) {
          $("#codeJWTSub").text(data.encodedJWT);
          selectJWTText("codeJWTSub");
        });
      });

      function selectJWTText(elemID) {
        try {
          var elem = document.getElementById(elemID);
          var range = document.createRange();
          range.selectNodeContents(elem);
          var sel = window.getSelection();
          sel.removeAllRanges();
          sel.addRange(range);
        } catch (e) {
          console.log("Selection not quickly supported.", e);
        }
      }

    </script>
  </body>
</html>
