textarea.entry {
  width: 100%;
}

td.ops {
  text-align: right;
}

dd.taskactive {
  background-color: #FFA600;
}

dd.taskpending {
  background-color: #00A6FF;
}

div.taskarchive dd {
  background-color: #00FFA6
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial;
  -webkit-user-select: text;
}

h1 {
  padding: 0.6em 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #F2F2F2;
  font-size: 24px;
}

.active {
  cursor: text;
}

.constActive {
  -webkit-user-select: none;
}