/**
 * Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

form {
  display: inline-block;
  border: 1px solid #dadce0;
  min-width: 500px;
}

h1 {
  background: #f6f9fe;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.tabs {
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  display: flex;
}

.tabs label:first-child {
  border-right: 1px solid grey;
}

.tabs label.selected {
  background: #f6f9fe;
  font-weight: bold;
}

.tabs label {
  display: block;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  margin: 0;
}

.tabs input {
  display: none;
}

label {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.hint {
  margin: 0 20px;
  background: #f6f6f6;
  padding: 7px 12px;
}

.buttons {
  display: flex;
  margin: 20px;
}

.buttons button {
  margin-right: 15px;
}
