body {
  font-family: Helvetica;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.copycat {
  background: #000;
  color: #fff;
}

.copycat #titlebar {
  height: 25px;
  position: relative;
}

.copycat #close {
  width: 16px;
  height: 16px;
  background: url(close-copycat.png) no-repeat;
  position: absolute;
  right: 4px;
  top: 4px;
}

h1 {
  background: #eee;
  margin: 0;
  padding: 2px;
  text-align: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.copycat h1 {
  background: #111;
  border-color: #333;
}

pre {
  margin: 0;
  font-size: 35px;
  color: #333;
  font-weight: bold;
  padding: 2px 8px;
}

.copycat pre {
  color: #ccc;
}

p {
  margin: 12px 0;
}
