body {
  margin: 0px;
}

p {
  margin: 8px;
}

.content {
  display: flex;
}

#device-selector {
  width: 200px;
  height: 285px;
}

#device-info {
  height: 336px;
  overflow: auto;
  width: 440px;
}
