body {
  font-family: 'Open Sans', arial, sans-serif;  
  font-size: 12px;
}

.apps {
 background-color: #E5E5E5;
 border-radius: 2px;
 border: 1px solid #ddd;
 box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
 padding: 5px;
 margin: 0;
}
a, a:visited, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00E;
}

.apps li {
 list-style: none; 
 position: relative;
 border-bottom: 1px solid #C6C6C6;
 box-shadow: 0px 1px 0px 0px #FEFEFE;
 padding: 5px 0;
}
.apps li:hover {
  background-color: #eee;
}

.apps li:last-child {
 border-bottom: 0;
 box-shadow: 0px;
}

.apps li:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.apps h2 {
  margin: 0 0 5px 0;
}

.apps li p {
  margin: 0;
}

.apps li img {
  width: 64px;
  float: left;
  margin: 0 10px 5px 5px;
}

.apps li:hover .actions {
  visibility: visible;
}

.apps .actions {
  visibility: hidden;
  position: absolute;
  text-align: right;
  right: 5px;
  bottom: 10px;
}

