/* Copyright 2018 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.*/

h1 {
  font-family: "Courier New", Courier, monospaces;
}

#display_top {
  margin: auto;
  width: 600px;
}

#todo_div {
  margin-top: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes color-extravaganza {
  0%   {background-color: #4285F4;}
  10%  {background-color: #4285F4;}
  25%  {background-color: #EA4335;}
  50%  {background-color: #FBBC04;}
  100% {background-color: #34A853;}
}

.colorFun {
  position: relative;
  height: 100px;
  width: 100px;
  padding: 10px;
  display: inline-block;
  margin-top: 60px;
}

.colorFun .tooltip {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}


#todo_div, .colorFun:hover .tooltip {
  visibility: visible;
  opacity: 1;
  animation-name: color-extravaganza;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

img {
  width: 100px;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
