#tip-popover {
  color:blue;
}

/* [popover] {
  --hide: 1;
  transition: transform 0.2s;
  transform: translateY(calc(var(--hide) * -100vh))
            scale(calc(1 - var(--hide)));
}

[popover]::backdrop {
  transition: opacity 0.2s;
  opacity: calc(1 - var(--hide, 1));
}

[popover]:open,
[popover]:open::backdrop  {
  --hide: 0;
} */