body {
  font-family: Lucida Grande, Segoe, sans-serif;
  margin: 0;
}

h1 {
  border-bottom: solid 1px #ccc;
  padding: 5px;
  margin: 0;
}

p {
  padding: 5px;
  margin: 0;
}

pre {
  border-top: solid 1px #ccc;
  margin: 0;
  padding: 5px;
}