body {
  color: #fff;
  background: #000;
  font-family: Lucida Grande, Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.a {
  color: #33f;
  text-decoration: none;
}

.a:hover {
  color: #66f;
  text-decoration: underline;
  cursor: pointer;
}
