dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 0;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

dialog h1 {
	background-color: #eee;
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 4pt;
	border-bottom: 1px solid black;
}

dialog div {
	padding: 10pt;
}

p {
	font-size: 14pt;
}
