
html, body {
  height: 100%;
}

#todoapp {
  height: calc( 100% - 200px );
}

#main {
  overflow-y: auto;
  max-height: calc( 100% - 82px );
}

button {
  cursor: pointer;
}

#toggleAlarm, #exportToDisk {
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  border: 1px solid;
  padding: 5px 10px;
  color: #777;
}

#toggleAlarm:hover, #exportToDisk:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#todoapp {
  margin-top: 70px;
}
#todoapp h1 {
  top: -95px;
  font-size: 60px;
}

/* small height, hide status bar and "based on todomvc" lines */
@media (max-height: 460px) {
  #info > p, #status {
    display: none;
  }
}

/* smaller height, make header and padding smaller */ 
@media (max-height: 390px) {
  #todoapp {
    margin-top: 50px;
  }
  #todoapp h1 {
    top: -70px;
    font-size: 40px;
  }
  #todoapp {
    height: calc( 100% - 145px );
  }

  #main {
    overflow-y: auto;
    max-height: calc( 100% - 82px );
  }
  #new-todo {
    padding: 8px 16px 8px 60px;
  }
  #todo-list li.editing .edit {
    width: auto;
    padding: 4px 17px 3px 8px;
    height: auto;
  }
  #todo-list li label {
    padding: 7px;
  }
  #todo-list li .destroy:hover {
    -webkit-transform: none;
    transform: none;
  }
}

/* small width, allow width to adapt */
@media (max-width: 550px) {
  body {
    width: inherit;
  }
}

/* small height but not too small width, minimize empty space at the bottom */
/*@media (min-width: 413px) and (max-height: 460px) {*/
@media (max-height: 460px) {
  #todoapp {
    height: calc( 100% - 170px );
  }

  #info {
    margin-top: 60px;
  }
}

/* narrow window, make footer actions and indicators vertical */
@media (max-width: 412px) {
  #todoapp {
    margin-bottom: 94px;
  }

  #footer {
    height: 65px;
    bottom: -77px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  #filters {
    position: relative;
    order: 0;
  }

  #todo-count {
    float: none;
    text-align: center;
    order: 1;
  }

  #clear-completed {
    order: 2;
  }

  #clear-completed, #todo-count, #filters {
    flex: 1 1 auto;
  }

  #footer::before {
    bottom: 77px;
    height: 85px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3), 0 87px 0 -6px rgba(255, 255, 255, 0.8), 0 88px 2px -6px rgba(0, 0, 0, 0.2)
  }
}

