html, body {
  background: white;
  margin: 0;
}

body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  padding: 5px;
  overflow: hidden;
  background: url(../img/google_drive_logo.jpg) no-repeat 95% 10%;
  background-size: 270px 215px;
}

body.dropping > #main {
  -webkit-filter: blur(2px);
}

.dropping #dropper {
  display: -webkit-flexbox;
  opacity: 1;
  pointer-events: all;
}

ul {
  margin: 10px;
  height: 525px;
  overflow: auto;
}

li {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
  background-color: #eee;
  color: #666666;
}

#log {
  display: block;
}

#dropper {
  pointer-events: none;
  opacity: 0;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-flex-align: center;
  -webkit-flex-pack: center;
  -webkit-transition: opacity 0.1s ease-in-out;
}

.dropzone {
  padding: 75px 175px;
  border-radius: 10px;
  border: 10px dashed #ccc;
}

.dropzone img {
  width: 300px;
  height: 300px;
  opacity: 0.3;
}

#main > nav {
  display: inline-block;
}

#main > h2 {
  display: inline-block;
  vertical-align: middle;
}

.date {
  float: right;
}