/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#waitAnimation {
  position: absolute;
  left: 0px;
  top: 0px;
  height:100%;
  width:100%;
  z-index:1000;
  background-color:black;
  opacity:0.6;
}

#waitSpinner {
  position: absolute;
  height:60px;
  width:60px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(180,174,239,.15);
  border-right:6px solid rgba(180,174,239,.15);
  border-bottom:6px solid rgba(180,174,239,.15);
  border-top:6px solid rgba(180,174,239,.8);
  border-radius:100%;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
